{% extends "layout.jinja" %}
{% from "_formhelpers.jinja" import render_form %}
{% block main %}
<link href="/static/styles/auth.css" rel="stylesheet">
<form action="/login" method="post">
    <p class="form-title">Login as:</p>
    {{ render_form(form) }}
</form>
{% endblock %}