{% extends "layout.jinja" %}
{% set tab_number = 1 %}
{% block main %}
<a href="/upload">
    <button type="button">upload alumni</button>
</a>
{# <a href="/hash">
    <button type="button">hash the national number column</button>
</a> #}
{% endblock %}