{% extends "layout/layout.jinja" %}
{% from "form.jinja" import render_form %}
{% set highlight_tab = "survey" %}
{% block main %} 
<link href="/static/styles/survey.css" rel="stylesheet">
<script src="/static/scripts/survey.js" defer></script>
<div id="survey">
    <h1>Survey</h1>
    {% for form in forms %}
        <details {% if form.is_completed %}class="completed"{% else %}open{% endif %}>
            <summary><span>{{ form.form_title }}</span></summary>
            {{ render_form(form) }}
        </details>
    {% endfor %}
</div>
{% endblock %}