{% extends "layout/layout.jinja" %}
{% set highlight_tab = "manage" %}
{% block main %}
<a href="/upload">
    <button type="button">upload alumni</button>
</a>
<a href="/hash">
    <button type="button">hash</button>
</a>
<a href="/admins">
    <button type="button">admins</button>
</a>
{% endblock %}