{% extends "layout/layout.jinja" %}
{% from "form.jinja" import render_form %}
{% set highlight_tab = "manage" %}
{% block main %}
<link rel="stylesheet" href="/static/styles/upload.css">
<h4 class="download">
    <a href="/static/examples/example-hashed.csv" target="_blank">
        <img src="/static/pics/icons/download.svg">
        Download Example CSV
    </a>
</h4>
{{render_form(form)}}
{{message}}
{% endblock %}