input:not([type="checkbox"]),
select,
textarea {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #222921;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dfe6de;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

main {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 85vw;
    margin-left: auto;
    margin-right: auto;
}

details span {
    font-size: x-large;
    font-weight: bold;
}

h1 {
    text-align: center;
}

input {
    margin-bottom: 1.3rem;
    font-size: 1rem;
}

input[type="submit"] {
    background-color: #006226f5;
    color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: 2rem;
}

body {
    background-color: #f1f6e6;
}

details {
    min-width: 400px;
    margin: 2rem auto;
    width: calc(100% - 4rem);
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    padding: 0 0 1rem 0;
}

summary {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    padding-bottom: 2rem;
    padding-inline: 2rem;
    position: relative;
    font-weight: 700;
    cursor: pointer;
    font-size: x-large;
    top: 1rem;
}

details > :not(summary, [type="submit"], [type="checkbox"]) {
    margin-inline: 2rem;
}

details[open] > summary {
    margin-bottom: 1rem;
}