{% extends "layout/layout.jinja" %}
{% from "form.jinja" import render_form %}
{% set highlight_tab = "survey" %}
{% block main %}
<link href="/static/styles/survey.css" rel="stylesheet">
<h1>Survey</h1>
{% for form in forms %}
    {{ render_form(form) }}
{% endfor %}
{% endblock %}