{% extends "layout.jinja" %}
{% from "_formhelpers.jinja" import render_field %}
{% set tab_number = 1 %}
{% block main %}
<form action="/hash" method="post">
    <a href="/static/example.csv" target="_blank">Download Example CSV</a><br>
    {% for field in form %}
        {{ render_field(field) }}
    {% endfor %}
</form>
{{message}}
{% endblock %}