<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/pics/logo/logo.ico">
    <link href="/static/styles/styles.css" rel="stylesheet">
    <script src="/static/scripts/htmx.min.js"></script>
    <meta name="theme-color" content="#006226"/>
    <title>BAU Alumni: {{title}}</title>
</head>

<body hx-boost="true">
    {% include 'layout/nav.jinja' %}
    {% include 'layout/flash.jinja' %}
    <main>
        {% block main %}{% endblock %}
    </main>
    {% include 'layout/footer.jinja' %}
    {% include 'layout/highlight.jinja' %}
</body>

</html>