{% macro render_field(field) %}
    {% if field.type not in ['BooleanField', 'SubmitField', 'CSRFTokenField', 'RadioField'] %}
        {{ field.label }}<br>
    {% endif %}
    {{ field(**kwargs)|safe }}
    {% if field.type not in ['BooleanField', 'SubmitField', 'CSRFTokenField'] %}<br>{% endif %}
    {% if field.description %} {{ field.description }}<br>{% endif %}
    {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro render_form(form, params="") %}
    <form method="post" action="{{form.route}}" {{params}}>
        <p class="form-title">{{form.form_title}}</p>
        {% for field in form %}
            {{ render_field(field) }}
        {% endfor %}
    </form>
{% endmacro %}