details {
    margin: 2rem auto;
    width: calc(100% - 4rem);
    max-width: 355px;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

summary {
    font-size: x-large;
    font-weight: bold;
    margin-top: 1.8rem;
    margin-bottom: 0.2rem;
    padding-bottom: 2rem;
    padding-inline: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

details>p {
    padding-inline: 2rem;
    padding-bottom: 2rem;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
}