h2 {
    text-align: center;
}

button {
    padding: 0.5rem;
    color: white;
    background-color: #006226f5;
    border-radius: 0.5rem;
    border: none;
    min-width: 8rem;
}

.container a {
    text-decoration: none;
    color: black;
    height: 2.1rem;
}

a button {
    cursor: pointer;
}

button>img {
    margin-inline: 0.5rem;
    filter: invert(1);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}