footer {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 18rem;
}

footer>.background {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100vw;
    height: 18rem;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.61), transparent);
}

body {
    padding-bottom: 0;
}

main {
    min-height: calc(100vh - 28.55rem);
}

.footer-content {
    color: rgb(37, 37, 37);
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.links>a {
    line-height: 2rem;
    text-decoration: none;
    color: rgb(37, 37, 37);
}