{% extends "layout/layout.jinja" %}
{% from "form.jinja" import render_form %}
{% block main %}
<link href="/static/styles/auth.css" rel="stylesheet">
<img src="https://www.bau.edu.jo/images/headerLogoNew.PNG" class="bau-logo">
{{ render_form(form) }}
{% endblock %}