<link href="/static/styles/footer.css" rel="stylesheet">
<footer>
    <img src="/static/pics/backgrounds/green.jpg" class="background">
    <div class="footer-content">
        <div class="contact">
            <h2>Contact Us</h2>
            <p>Phone: +962 5 3491111</p>
            <p>Fax: &nbsp; &nbsp; +962 5 3532312</p>
            <p>Address: Salt 19117. Jordan, P.O.Box 206</p>
        </div>
        <div class="links">
            <a href="/about">About</a><br>
            <a>Help</a><br>
            <a>BAU Graduates</a><br>
            <a>CV Tips</a><br>
        </div>
        <div class="social">
            <h2>Follow Us</h2>
            <a href="https://www.facebook.com/"><img src="/static/pics/icons/facebook.svg"></a>
            <a href="https://www.twitter.com/"><img src="/static/pics/icons/twitter.svg"></a>
            <a href="https://www.instagram.com/"><img src="/static/pics/icons/instagram.svg"></a>
        </div>
    </div>
</footer>