{% set tabs = [] %}
{% if session.get("role") == "admin" %}
    {% if "stats" in session.get("perms") %}
        {% set tabs = tabs + ["stats"] %}
    {% endif %}
    {% if "manage" in session.get("perms") %}
        {% set tabs = tabs + ["manage"] %}
    {% endif %}
{% else %}
    {% set tabs = tabs + ["survey"] + ["profile"] %}
{% endif %}
{% set tabs = tabs + ["news"] + ["posts"] %}
<div class="navbar">
    <div class="navbar-logo"><img src="/static/pics/logo/logo.svg">
        <span> BAU Alumni</span>
    </div>
    {% if session.get("id") %}
    <ul class="navbar-tabs">
        {% for tab in tabs %}
            <a class="navbar-tab" href="/{{tab}}">
                <img src="/static/pics/icons/{{tab}}-outline.svg" class="white tab-icon">&nbsp;{{tab|capitalize}}
            </a>
        {% endfor %}
    </ul>
    <a class="logout" href="/logout">Log Out</a>
    {% endif %}
</div>
{% if session.get("id") %}
<div class="center">
    <div class="tab-bar">
        {% for tab in tabs %}
            <a class="navbar-tab nav-tab" href="/{{tab}}">
                <span>
                    <img src="/static/pics/icons/{{tab}}-outline.svg" class="white tab-icon">
                </span>{{tab|capitalize}}
            </a>
        {% endfor %}
    </div>
</div>
{% endif %}