{% if get_flashed_messages() %}
<header>
    <div id="flash" class="alert" role="alert">
        <span id="message"> {{ get_flashed_messages() | join(" ") }} </span>
        <button id="close" onclick="closeFlash();">X</button>
    </div>
</header>
<style> main {margin-top: 75px;} </style>
{% endif %}
<script>
function closeFlash() {
    document.getElementById('flash').style.display = 'none';
    document.getElementsByTagName('main')[0].style.marginTop = '15px';
}
</script>